# This is a sample session file for vpn-porthole

# Create as many session profiles as you like, and name them as you wish.
# Here we have just one session called "example"
[session]
    [[example]]
        # vpn: the endpoint at which the VPN is contacted
        vpn = vpn.example.com

        # username: Directly add VPN username here, or use the SHELL feature as for
        # the password
        username = joe

        # password: (optional) You can directly add your password here,
        # but that is not good security. If you leave it blank then you will be
        # prompted when needed. You can also configure your password to be
        # retrieved with a shell command. I like to store my passwords in a keyring:
        #   OSX: https://joshtronic.com/2014/02/17/using-keyring-access-on-the-osx-commandline/
        #   Ubuntu: http://manpages.ubuntu.com/manpages/wily/man1/secret-tool.1.html
        password = SHELL:~/path/to/password/script

        # subnets: Add the IP address ranges that you wish to route into the VPN session
        [[[subnets]]]
            10.11.0.0/28 = True
            10.12.13.0/24 = True

        # domains: Add the DNS domains for which you wish to forward DNS lookups into the
        # VPN Session
        [[[domains]]]
            example.org = True

        # socks5: An optional extra to have your the session container expose a SOCKS5 port
        [[[socks5]]]
            port = 1080

        [[[dockerfile]]]
            # Custom lines you wish to add to the Docker file as system
            [[[[system]]]]
                1 = RUN apt-get update && apt-get install -y wget expect && apt-get clean -y
                2 = ADD install.sh /home/user/
                3 = ADD setup.sh /home/user/

            # Custom lines you wish to add to the Docker file as the user
            [[[[user]]]]
                1 = RUN sudo chmod ugo+x *.sh
                2 = RUN ./setup.sh

            # Custom files you wish to include in the Docker context by path
            # from your filesystem (e.g.: install.sh) or by content (e.g.: setup.sh)
            [[[[files]]]]
                install.sh = ~/.config/vpn-porthole/example/install.sh

                setup.sh = '''
                    #!/bin/bash

                    wget ...

                    /usr/bin/expect <<EOF
                    spawn ./install.sh
                    expect {
                     " Do you wish to continue (y/n)?"
                    }
                    send "y\r"
                    EOF
                '''

        # Additional command line options you wish to pass to open-connect
        [[[openconnect]]]
            1 = -v
            2 = --csd-user user
            3 = --csd-wrapper ~/csd-wrapper.sh
