# This is a sample settings file for vpn-porthole

[system]
    # sudo: (optional) Can be configured the same as for password in a session.
    # vpn-porthole needs to make use of sudo privileges to setup and tear down
    # subnets and DNS domains
    sudo =

[docker]
    # docker.machine: (optional) [OSX] Can be configured to connect to a specific docker
    # machine. If left blank, the DOCKER_* settings will be fetch from the environment
    machine = default

# If you are behind a HTTP Proxy then here you can setup named proxy profiles
# Here a profile called "work" is defined. Typically usage:
#   $ vpnp --proxy work sample build
[proxy]
    [[work]]
        http_proxy = http://proxy.example.com:8080
